<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.juns.mygesture" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_gesturebuilder"
            android:label="@string/application_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".CreateActivity"
            android:icon="@drawable/ic_gesturebuilder"
            android:label="@string/label_create_gesture"
            android:theme="@android:style/Theme.Black.NoTitleBar" />
    </application>

</manifest>
